/**
 * @file
 * RTL companion for the fixed-width.css file.
 */
/**
 * @file
 * Positioning for a fixed-width, desktop-centric layout.
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Center the page.
 */
/* line 46, /Users/lbyrwa/Sites/rcsm-ocg/sites/all/themes/ocg/sass/layouts/fixed-width.scss */
#main,
#header,
#footer,
.region-bottom,
.NCI-inner {
  /* If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. */
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 66, /Users/lbyrwa/Sites/rcsm-ocg/sites/all/themes/ocg/sass/layouts/fixed-width.scss */
#header,
#content,
#navigation,
#postscript-first,
#postscript-second,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 20px;
  padding-right: 20px;
  border: 0 !important;
  word-wrap: break-word;
}

/* line 70, /Users/lbyrwa/Sites/rcsm-ocg/sites/all/themes/ocg/sass/layouts/fixed-width.scss */
.front #postscript-first {
  padding-left: 0;
  padding-right: 0;
  margin-left: 20px;
  margin-right: 20px;
}

/*
 * Containers for grid items and flow items.
 */
/* line 83, /Users/lbyrwa/Sites/rcsm-ocg/sites/all/themes/ocg/sass/layouts/fixed-width.scss */
#header,
#main,
#footer {
  *position: relative;
  *zoom: 1;
}
/* line 52, /Users/lbyrwa/Sites/rcsm-ocg/sites/all/themes/ocg/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, /Users/lbyrwa/Sites/rcsm-ocg/sites/all/themes/ocg/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/*
 * Navigation bar
 */
/* line 91, /Users/lbyrwa/Sites/rcsm-ocg/sites/all/themes/ocg/sass/layouts/fixed-width.scss */
#main {
  position: relative;
}

/* line 94, /Users/lbyrwa/Sites/rcsm-ocg/sites/all/themes/ocg/sass/layouts/fixed-width.scss */
#navigation {
  clear: both;
  width: 920px;
  z-index: 50;
}

/*
 * The layout when there is only one sidebar, the left one.
 */
/* line 105, /Users/lbyrwa/Sites/rcsm-ocg/sites/all/themes/ocg/sass/layouts/fixed-width.scss */
.sidebar-first #content {
  /* Span 4 columns, starting in 2nd column from left. */
  float: right;
  width: 720px;
  margin-right: 200px;
  margin-left: -960px;
}
/* line 109, /Users/lbyrwa/Sites/rcsm-ocg/sites/all/themes/ocg/sass/layouts/fixed-width.scss */
.sidebar-first .region-sidebar-first {
  /* Span 1 column, starting in 1st column from left. */
  float: right;
  width: 160px;
  margin-right: 0px;
  margin-left: -200px;
}

/*
 * The layout when there is only one sidebar, the right one.
 */
/* line 119, /Users/lbyrwa/Sites/rcsm-ocg/sites/all/themes/ocg/sass/layouts/fixed-width.scss */
.sidebar-second #content {
  /* Span 4 columns, starting in 1st column from left. */
  float: right;
  width: 680px;
  margin-right: 0px;
  margin-left: -720px;
}
/* line 123, /Users/lbyrwa/Sites/rcsm-ocg/sites/all/themes/ocg/sass/layouts/fixed-width.scss */
.sidebar-second .region-sidebar-second {
  /* Span 1 column, starting in 5th column from left. */
  float: right;
  width: 200px;
  margin-right: 720px;
  margin-left: -960px;
}

/*
 * The layout when there are two sidebars.
 */
/* line 133, /Users/lbyrwa/Sites/rcsm-ocg/sites/all/themes/ocg/sass/layouts/fixed-width.scss */
.two-sidebars #content {
  /* Span 3 columns, starting in 2nd column from left. */
  float: right;
  width: 480px;
  margin-right: 200px;
  margin-left: -720px;
}
/* line 137, /Users/lbyrwa/Sites/rcsm-ocg/sites/all/themes/ocg/sass/layouts/fixed-width.scss */
.two-sidebars .region-sidebar-first {
  /* Span 1 column, starting in 1st column from left. */
  float: right;
  width: 160px;
  margin-right: 0px;
  margin-left: -200px;
}
/* line 141, /Users/lbyrwa/Sites/rcsm-ocg/sites/all/themes/ocg/sass/layouts/fixed-width.scss */
.two-sidebars .region-sidebar-second {
  /* Span 1 column, starting in 5th column from left. */
  float: right;
  width: 200px;
  margin-right: 720px;
  margin-left: -960px;
}
