/**
 * @file
 * Views Styling
 */

@import "base";


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}

.view{
  overflow: hidden;
  .views-row{
    margin-bottom: 10px;
  }
}

/* background corner not showing on firefox */

.corner .views-row{
   position:relative;
   width:230px;
   float: left;
   overflow: hidden;
   background:  #f2f2f2;
   background:
        -webkit-linear-gradient(225deg,  rgba(242,242,242,1), rgba(242,242,242,1)),
        -webkit-linear-gradient(45deg, rgba(242,242,242,1), rgba(242,242,242,1)),
        -webkit-linear-gradient(135deg, transparent 20px,  rgba(242,242,242,1) 15px);
    background:
        -moz-linear-gradient(225deg,  rgba(242,242,242,1), rgba(242,242,242,1)),
        -moz-linear-gradient(45deg, rgba(242,242,242,1), rgba(242,242,242,1)),
        -moz-linear-gradient(135deg, transparent 20px,  rgba(242,242,242,1) 15px);
    background:
        -o-linear-gradient(225deg,  rgba(242,242,242,1), rgba(242,242,242,1)),
        -o-linear-gradient(45deg, rgba(242,242,242,1), rgba(242,242,242,1)),
        -o-linear-gradient(135deg, transparent 20px,  rgba(242,242,242,1) 15px);
    background-image:
        linear-gradient(225deg,  rgba(242,242,242,1), rgba(242,242,242,1)),
        linear-gradient(45deg, rgba(242,242,242,1), rgba(242,242,242,1)),
        linear-gradient(135deg,  rgba(242,242,242,1) 95%, transparent 10%);
    border: none;
    -webkit-background-size: 55% 100%, 55% 55%, 55% 55%;
    -moz-background-size: 55% 100%, 55% 55%, 55% 55%;
    background-size: 55% 100%, 55% 55%, 55% 55%;
    background-position: 0 0, 100% 0, 100% 100%;
    background-repeat: no-repeat;
}

.corner .view-e-newsletter .views-row{
  width: 223px;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
  &:before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 23px 23px 0 0;
    border-style: solid;
    border-color: transparent #fff transparent #fff;
    display: block;
    width: 0;
  }
}

.corner.three-col{
  margin-top: -25px;
  overflow: visible;


  h2.block-title{
    color: $link-brown;
    font-family: $arial;
    font-weight: 700;
    padding-bottom: 30px;
    font-size: 36px;
    .fontface & {
      font-family: $franklin;
      font-weight: normal;
    }
  }
   
  .views-row{
    width: 297px;
    margin-right: 14px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    
    .views-field-title,
    .views-field-body,
    .views-field-view-node{
      padding: 0 15px;
    }
    
    .views-field-body{
      height: 190px;
      p{
        line-height: 18px;
      }
    }
    
    .views-field-view-node{
      padding-bottom: 20px;
    }
    
    
    img{
      width: 290px;
      margin-left: 3px;
      box-shadow: 0 3px 4px #b4b4b4;
    }
    
    .views-field-title{
      padding-top: 20px;
      font-size: $h3-font-size;
      font-family: $arial;
      font-weight: 700;
      padding-bottom: 18px;
      line-height: 22px;
      height: 66px;
      .fontface & {
        font-family: $franklin;
        font-weight: normal;
      }
      a{
      font-weight: normal;
      }
      span{
        color: $callout-red;
      }
    }
  }
}

.corner.three-col .views-row{
  background: url(../images/three-col-bkg.png) no-repeat left bottom;
  .data-matrix{
    right: 3px;
  }
}

.two-col{
  margin-bottom: 10px;
  h2.block-title{
    color: $link-brown;
    font-weight: normal;
    line-height: 28px
  }
  
  .view{
     position:relative;
     padding-top: 16px;
     padding-bottom: 14px;
     width:440px;
     border-top: 1px solid #e1e1e1;
     float: left;
     margin-top: -5px;
     position: relative;
     overflow: hidden;

    
    .views-row{
      overflow: hidden;
    }
    
    .views-field-title .right{
       width: 360px;
       padding-left: 0;
      .title{
        font-family: $arial;
        font-size: 18px;
        font-weight: 700;
        color: $callout-red;
        .fontface & {
          font-family: $franklin;
          font-weight: normal;
        }
      }
      
      a .link{
        color: $black;
      }
    }
  }
}

.two-col.left{
  padding-right: 30px;
}

.corner .views-row-last{
  margin-right: 0!important;
}

.view-projects{
  h3{
    color: $callout-red;
  }
}

#block-views-project-features-block{
  overflow: visible;
  .view-project-features{
    overflow: visible;
    .views-row{
      overflow: visible;
    }
  }
}

/*
 * Accordion Views Custom Styles
 */
html.js fieldset.collapsible .fieldset-legend{
  padding-left: 0;
}

html.js fieldset.collapsed{
  height: auto;
  margin-bottom: 1px;
  overflow: hidden;
  height: 38px !important;
}

.ui-widget{
  font-family: $helvetica;
  font-size: $base-font-size;
}

.view.view-taxonomy-term{
  overflow: visible;
}
 
.views-accordion{
  p{
    font-size: $base-font-size;
    font-family: $font-body;
    line-height: 20px;
  }
  
  .views-row{
    margin-bottom: 0;
  }
  
  fieldset{
    border: none;
    padding: 0;
    margin: 0;
    height: 100%;
  }
  
  legend{
    background-image: none;
    border: none;
    width: 100%;
    margin-bottom: 1px;
    overflow: hidden;
    border-radius: 0;
    line-height: 1em;
    font-family: $arial;
    font-weight: 700;
    font-size: 18px;
    .fontface & {
      font-family: $franklin;
      font-weight: normal;
    }
     a{
        color: #fff !important;
        padding-left: 1.3em;
        padding-top: 10px;
        display: block;
        padding-bottom: 10px;
        &:hover{
          color: #fff!important;
        }
        a{
          padding: 0;
        }
      }
      &:hover{
        background: rgb(121,98,69); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(121,98,69,1) 1%, rgba(123,102,76,1) 40%, rgba(98,79,56,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(121,98,69,1)), color-stop(40%,rgba(123,102,76,1)), color-stop(100%,rgba(98,79,56,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#796245', endColorstr='#624f38',GradientType=0 ); /* IE6-8 */
        -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#796245', endColorstr='#624f38',GradientType=0 ); /* IE8+ */
      }    
    
  }
  
  .fieldset-legend span.summary{
    display: none;
  }
  
  fieldset.collapsed legend{
    background: rgb(150,150,150); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(150,150,150,1) 1%, rgba(147,147,147,1) 40%, rgba(121,121,121,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(150,150,150,1)), color-stop(40%,rgba(147,147,147,1)), color-stop(100%,rgba(121,121,121,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(150,150,150,1) 1%,rgba(147,147,147,1) 40%,rgba(121,121,121,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(150,150,150,1) 1%,rgba(147,147,147,1) 40%,rgba(121,121,121,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(150,150,150,1) 1%,rgba(147,147,147,1) 40%,rgba(121,121,121,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(150,150,150,1) 1%,rgba(147,147,147,1) 40%,rgba(121,121,121,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#797979',GradientType=0 ); /* IE6-8 */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#797979',GradientType=0 ); /* IE8+ */
  }
  
  fieldset legend{
    background: rgb(121,98,69); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(121,98,69,1) 1%, rgba(123,102,76,1) 40%, rgba(98,79,56,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(121,98,69,1)), color-stop(40%,rgba(123,102,76,1)), color-stop(100%,rgba(98,79,56,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#796245', endColorstr='#624f38',GradientType=0 ); /* IE6-8 */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#796245', endColorstr='#624f38',GradientType=0 ); /* IE8+ */
  }
  
  .ui-accordion-content{
    border: none;
    font-size: $base-font-size;
    font-family: $font-body;
  }
  
  .fieldset-wrapper{
    padding: 20px 50px;
    width: 380px !important;
    overflow: visible;
  }
}

fieldset.collapse-processed{
  span.fieldset-legend{
    background: url(../images/expanded-accordion.png) no-repeat 5px 60% !important;
  }
}

fieldset.collapsed{
  span.fieldset-legend{
    background: url(../images/default-accordion.png) no-repeat 5px 50% !important;
    margin-left: 0;
  }
}

.page-news-publications-e-newsletters{
  .views-accordion{
    h2{
      color: $link-brown;
      span{
        color: $callout-red;
      }
    }
    h3 a.toggle{
      background-image: none;
      border: none;
      width: 100%;
      overflow: hidden;
      border-radius: 0;
      line-height: 1em;
      font-family: $arial;
      font-size: 18px;
      padding-left: 1.3em;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #fff !important;
      display: block;
      font-weight: 700;
      background: rgb(121,98,69); /* Old browsers */
          background: -moz-linear-gradient(top,  rgba(121,98,69,1) 1%, rgba(123,102,76,1) 40%, rgba(98,79,56,1) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(121,98,69,1)), color-stop(40%,rgba(123,102,76,1)), color-stop(100%,rgba(98,79,56,1))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* IE10+ */
          background: linear-gradient(to bottom,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#796245', endColorstr='#624f38',GradientType=0 ); /* IE6-8 */
          -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#796245', endColorstr='#624f38',GradientType=0 ); /* IE8+ */
      .fontface & {
        font-family: $franklin;
        font-weight: normal;
      }
      &:hover{
        background: rgb(121,98,69); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(121,98,69,1) 1%, rgba(123,102,76,1) 40%, rgba(98,79,56,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(121,98,69,1)), color-stop(40%,rgba(123,102,76,1)), color-stop(100%,rgba(98,79,56,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#796245', endColorstr='#624f38',GradientType=0 ); /* IE6-8 */
        -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#796245', endColorstr='#624f38',GradientType=0 ); /* IE8+ */
      }    
    }
    
    h3.collapsed a{
      background: rgb(150,150,150); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(150,150,150,1) 1%, rgba(147,147,147,1) 40%, rgba(121,121,121,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(150,150,150,1)), color-stop(40%,rgba(147,147,147,1)), color-stop(100%,rgba(121,121,121,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(150,150,150,1) 1%,rgba(147,147,147,1) 40%,rgba(121,121,121,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(150,150,150,1) 1%,rgba(147,147,147,1) 40%,rgba(121,121,121,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(150,150,150,1) 1%,rgba(147,147,147,1) 40%,rgba(121,121,121,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(150,150,150,1) 1%,rgba(147,147,147,1) 40%,rgba(121,121,121,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#797979',GradientType=0 ); /* IE6-8 */
      -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#797979',GradientType=0 ); /* IE8+ */
      &:hover{
          background: rgb(121,98,69); /* Old browsers */
          background: -moz-linear-gradient(top,  rgba(121,98,69,1) 1%, rgba(123,102,76,1) 40%, rgba(98,79,56,1) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(121,98,69,1)), color-stop(40%,rgba(123,102,76,1)), color-stop(100%,rgba(98,79,56,1))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* IE10+ */
          background: linear-gradient(to bottom,  rgba(121,98,69,1) 1%,rgba(123,102,76,1) 40%,rgba(98,79,56,1) 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#796245', endColorstr='#624f38',GradientType=0 ); /* IE6-8 */
          -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#796245', endColorstr='#624f38',GradientType=0 ); /* IE8+ */
        }
    }
    
    .view-grouping-content{
      padding: 20px 50px;
      .views-row{
        margin-bottom: 15px;
      }
      .views-field-title{
        span{
          text-transform: uppercase;
          color: #646464;
          font-size: 21px;
          margin-bottom: 6px;
        }
        a{
          color: $callout-red !important;
          font-size: 19px;
          text-transform: none;
          line-height: 23px;
          font-family: $franklin;
        }
      }
    }
  }
}

/*
 * Announcement Block Styles
 */

.front .view-announcement,
.view-announcement{
  position: relative;
  .views-row{
    width: 880px;
    padding: 20px;
    background-repeat: repeat;
    margin-bottom: 0;
    background: #c45208; /* Old browsers */
    background: -moz-linear-gradient(left,  #c45208 0%, #e3830c 75%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c45208), color-stop(75%,#e3830c)); /* Chrome,Safari4+ */ 
    background: -webkit-linear-gradient(left,  #c45208 0%, #e3830c 75%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #c45208 0%,#e3830c 75%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #c45208 0%,#e3830c 75%); /* IE10+ */
    background: linear-gradient(to right,  #c45208 0%,#e3830c 75%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c45208', endColorstr='#e3830c',GradientType=1 ); /* IE6-9 */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c45208', endColorstr='#e3830c',GradientType=1 ); /* IE8+ */
    background-size: 100%;

    
    &:before{
      border-color: #E3830C #fcfeff #E3830C #fcfeff;
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      border-width: 23px 23px 0 0;
      border-style: solid;
      display: block;
      width: 0;
    }
  }
  
  span{
    font-family: $arial;
    font-size: $h2-font-size; 
    font-weight: 700;
    text-transform: uppercase;
    float: left;
    width: 44%;
    color: #fff;
    background: url(../images/alert.png) left center no-repeat;
    padding-left: 40px;
    line-height: 30px;
    line-height: 2;
    .fontface & {
      font-family: $franklin;
      font-weight: normal;
    }
  }
  
  .views-field-body{
    margin-bottom: 0;
    float: right;
    width: 45%;
    font-family: $helvetica;
    color: #fff;
    padding-right: 50px;
    p{
      margin-bottom: 0;
    }
  }
  
  .view-header{
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 1;
    a{
      background-image: url(../images/x-button.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      display: block;
      height: 32px;
      width: 32px;
      &:hover{
        background-position: 0 -32px;
      }
    }
  }
}


.page-programs-cgci-projects .view-projects{
  p{
    margin-bottom: 5px;
  }
}


/*
 * Views on News and Pubs Landing Page Custom Styles
 */

.landing-page.view-publications{
  width: 470px;
  
  .right{
    width: 300px;
  }
}

#block-views-e-newsletter-block-1.right{
  padding-left: 0;
}

#block-views-publications-block-2.left{
  padding-right: 0;
}

.landing-page.view-e-newsletter{
  h2.block-title{
    font-size: $h5-font-size;
    font-weight: 700;
    margin-bottom: 10px;
    color: $link-brown;
    padding: 9px 15px 5px;
    border-bottom: 1px solid #fae21d;
    background: #faf4bf; /* Old browsers */
    background: -moz-linear-gradient(top,  #faf4bf 0%, #fef6d5 30%, #faec7a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faf4bf), color-stop(30%,#fef6d5), color-stop(100%,#faec7a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #faf4bf 0%,#fef6d5 30%,#faec7a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #faf4bf 0%,#fef6d5 30%,#faec7a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #faf4bf 0%,#fef6d5 30%,#faec7a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #faf4bf 0%,#fef6d5 30%,#faec7a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf4bf', endColorstr='#faec7a',GradientType=0 ); /* IE6-9 */
    .fontface & {
      font-family: $franklin;
      font-weight: normal;
    }
  }
  
  .views-row .field-content{
    padding: 5px 20px;
    margin-bottom: 0;
  }
  
  .views-row .views-field-field-issue-date .field-content{
    padding: 0;
  }
  
  p.field-content{
    font-family: $helvetica;
  }
  
  h3.field-content{
    color: #767676;
  }
  
  .views-field-title-1 a{
    color: $callout-red !important;
  }
  
  .views-field-title p{
    color: $link-brown;
    font-size: 15px;
    font-family: $arial;
    font-weight: 700;
    .fontface & {
      font-family: $franklin;
      font-weight: normal;
    }
  }
  
  .views-row{
    padding-bottom: 20px;
  }
}

/*
 * Resources Archive View Styles
 */

.views-field-field-resource-link{
  padding-bottom: 10px;
  h3{
    font-size: $h4-font-size;
  }
}

/*
 * Last Updated View Styles
 */

#block-views-last-updated-block{
  position: absolute;
  bottom: 30px;
  .view-last-updated{
    font-family: $helvetica;
    font-size: 12px;
    color: #646464;
  }
}

/*
 * Program tag with Abbreviated Title View Styles
 */

.view-program-abbreviation{
  float: left;
  clear: both;
  color: #7d7d7d;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px 5px 0;
  a{
    width: 70px;
    display: inline-block;
    background-color: #767676;
    text-align: center;
    color: #fff !important;
    font-weight: bold;
    margin-right: 10px; 
    &:hover{
      color: #fff !important;
    }
  }
}


/*
 * Individual E-Newsletter View Styles
 */
.view-taxonomy-term{
  .view-content{
    .views-row{
      margin-bottom: 10px;
      padding-bottom: 15px;
      border-bottom: 5px solid #e1e1e1;
      overflow: visible;
      img{
        float: left;
        padding-right: 15px;
        padding-bottom: 10px;
      }
      .views-field-title{
        h2{
          color: $callout-red;
          font-size: 22px;
          line-height: 25px;
            span{
            color: #646464;
            font-size: 26px;
            margin-bottom: 6px;
            text-transform: uppercase;
          }
        }
      }
    }
    .views-row-last{
      border-bottom: none;
    }
  }
  .attachment-before{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #e1e1e1;
    .views-row{
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
    h3{
      margin-bottom: 22px;
      span{
        color: #646464;
        font-size: 21px;
        margin-bottom: 6px;
        text-transform: uppercase;
      }
      a{
        color: $callout-red !important;
        font-size: 19px;
        line-height: 23px;
      }
    }
  }
  .views-field-field-enews-physician{
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .view-e-newsletter-issue-title{
    .views-row{
      padding-bottom: 0;
      h1{
        color: $link-brown;
        span{
          color: $callout-red;
        }
      }
    }
  }
}











