#header {
  background-image: url("images/ctd2-banner.jpg");
  background-repeat: no-repeat;
  height: 200px;
  background-size: cover;
}

#navigation .block-superfish ul.sf-menu li a {
  font-size: 20px;
}