/**
 * @file
 * Block Styling
 */
/* line 9, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
  overflow: hidden;
}
/* line 13, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 16, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 19, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 22, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 25, ../sass/blocks.scss */
.block h2.block-title {
  /* Block title */
}

/* line 30, ../sass/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 33, ../sass/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 36, ../sass/blocks.scss */
#block-block-1 {
  /* First block created with "Add block" link */
}

/* line 39, ../sass/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 42, ../sass/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 45, ../sass/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 48, ../sass/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 51, ../sass/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 54, ../sass/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 57, ../sass/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 60, ../sass/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 63, ../sass/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 66, ../sass/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 69, ../sass/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 73, ../sass/blocks.scss */
.block-search,
#block-search-form {
  /* "Search form" block */
  float: right;
  width: 235px;
}
/* line 76, ../sass/blocks.scss */
.block-search input[type="submit"],
#block-search-form input[type="submit"] {
  -webkit-appearance: none;
  background: none;
  border: none;
  font-family: "Arial Narrow", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: 700;
  color: #990000;
  text-transform: uppercase;
  font-size: 14px;
  padding-right: 0;
}
/* line 86, ../sass/blocks.scss */
.fontface .block-search input[type="submit"], .fontface
#block-search-form input[type="submit"] {
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}
/* line 90, ../sass/blocks.scss */
.block-search input[type="submit"]:hover,
#block-search-form input[type="submit"]:hover {
  text-decoration: underline;
}
/* line 95, ../sass/blocks.scss */
.block-search input[type="text"],
#block-search-form input[type="text"] {
  width: 149px;
  height: 20px;
  background-image: url(../images/search-input.gif);
  background-repeat: no-repeat;
  background-position: 5px 7px;
  padding: 3px 5px;
  color: #774928;
  border: 1px solid #cfcfcf;
  box-shadow: inset 0px 1px 3px #404040;
  padding-left: 25px;
  padding-top: 3px;
}
/* line 109, ../sass/blocks.scss */
.block-search ::-webkit-input-placeholder,
#block-search-form ::-webkit-input-placeholder {
  color: #774928;
}
/* line 113, ../sass/blocks.scss */
.block-search :-moz-placeholder,
#block-search-form :-moz-placeholder {
  /* Firefox 18- */
  color: #774928;
}
/* line 117, ../sass/blocks.scss */
.block-search ::-moz-placeholder,
#block-search-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #774928;
}
/* line 121, ../sass/blocks.scss */
.block-search :-ms-input-placeholder,
#block-search-form :-ms-input-placeholder {
  color: #774928;
}

/* line 126, ../sass/blocks.scss */
.block-search {
  float: none;
}

/* line 130, ../sass/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 133, ../sass/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 136, ../sass/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
}

/* line 139, ../sass/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 142, ../sass/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

/* line 145, ../sass/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 148, ../sass/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 151, ../sass/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 154, ../sass/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 157, ../sass/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 160, ../sass/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 163, ../sass/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}

/* line 166, ../sass/blocks.scss */
.brown-block {
  z-index: 1;
  margin-bottom: 30px;
}
/* line 170, ../sass/blocks.scss */
.brown-block h2.block-title {
  color: #774928;
}
/* line 174, ../sass/blocks.scss */
.brown-block .view {
  margin-top: -4px;
  padding-top: 25px;
  position: relative;
  z-index: 1;
}
/* line 180, ../sass/blocks.scss */
.brown-block .view:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(radial, left top, 0, 100% 0%, 100, from(#9e9e9e), to(transparent));
  background-image: -moz-radial-gradient(left top, farthest-corner, #9e9e9e 0%, transparent 72%);
  z-index: -2;
}
/* line 192, ../sass/blocks.scss */
.brown-block .view:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: -1;
}

/* line 207, ../sass/blocks.scss */
.grey-block h2.block-title {
  color: #646464;
}
/* line 211, ../sass/blocks.scss */
.grey-block h3 {
  font-size: 1.4em;
  line-height: 1.1em;
}
/* line 216, ../sass/blocks.scss */
.grey-block .view {
  margin-top: -4px;
  padding-top: 15px;
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
  overflow: visible;
}
/* line 223, ../sass/blocks.scss */
.lt-ie9 .grey-block .view {
  border-top: 1px solid #e1e1e1;
}
/* line 227, ../sass/blocks.scss */
.grey-block .view:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(radial, left top, 5, 100% 0%, 100, from(#9e9e9e), to(transparent));
  background-image: -moz-radial-gradient(left top, farthest-corner, #9e9e9e 0%, transparent 72%);
  z-index: -2;
}
/* line 239, ../sass/blocks.scss */
.grey-block .view:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: -1;
}
/* line 250, ../sass/blocks.scss */
.grey-block .view .more-link {
  top: -15px;
  right: 0;
}
/* line 257, ../sass/blocks.scss */
.grey-block .view-projects h3 {
  font-size: 22px;
  line-height: 24px;
}

/* line 265, ../sass/blocks.scss */
.section-programs .grey-block.archive .view-news-and-publications .views-row {
  border-bottom: none;
  margin-bottom: 7px !important;
}

/*
 * Secondary Nav Menu Block Styles
 */
/* line 274, ../sass/blocks.scss */
#block-menu-block-3 {
  overflow: visible;
}

/* line 280, ../sass/blocks.scss */
.secondary-nav h2.block-title {
  font-size: 16.5px;
  color: #774928;
  line-height: 16px;
}
/* line 286, ../sass/blocks.scss */
.secondary-nav ul.menu {
  padding-left: 0;
  margin: 0;
  padding-top: 20px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  font: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-weight: bold;
}
/* line 295, ../sass/blocks.scss */
.secondary-nav ul.menu li {
  padding-bottom: 5px;
}
/* line 298, ../sass/blocks.scss */
.secondary-nav ul.menu li a:hover {
  color: #990000;
}
/* line 303, ../sass/blocks.scss */
.secondary-nav ul.menu li a.active-trail {
  color: #990000;
}
/* line 308, ../sass/blocks.scss */
.secondary-nav ul.menu li.collapsed {
  list-style-image: url(../images/has-children.gif);
}
/* line 312, ../sass/blocks.scss */
.secondary-nav ul.menu li.expanded {
  list-style-image: url(../images/expanded.gif);
  list-style-type: none;
}
/* line 315, ../sass/blocks.scss */
.secondary-nav ul.menu li.expanded ul li {
  list-style-image: none;
}
/* line 320, ../sass/blocks.scss */
.secondary-nav ul.menu li ul {
  border: none;
  padding: 0;
}
/* line 324, ../sass/blocks.scss */
.secondary-nav ul.menu li ul li {
  padding: 5px 0 0 4px;
  font-weight: normal;
}
/* line 331, ../sass/blocks.scss */
.secondary-nav ul.menu a {
  text-decoration: none;
  color: #4b4b4b;
}

/*
 * Sidebar Second Block Styles
 */
/* line 344, ../sass/blocks.scss */
.region-sidebar-second .corner h2.block-title {
  font-family: "Arial Narrow", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 15.6px;
  font-weight: 700;
  color: #774928;
  padding: 9px 15px 5px;
  border-bottom: 1px solid #fae21d;
  background: #faf4bf;
  /* Old browsers */
  background: -moz-linear-gradient(top, #faf4bf 0%, #fef6d5 30%, #faec7a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #faf4bf), color-stop(30%, #fef6d5), color-stop(100%, #faec7a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #faf4bf 0%, #fef6d5 30%, #faec7a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #faf4bf 0%, #fef6d5 30%, #faec7a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #faf4bf 0%, #fef6d5 30%, #faec7a 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #faf4bf 0%, #fef6d5 30%, #faec7a 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faf4bf', endColorstr='#faec7a',GradientType=0 );
  /* IE6-9 */
}
/* line 360, ../sass/blocks.scss */
.fontface .region-sidebar-second .corner h2.block-title {
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}
/* line 366, ../sass/blocks.scss */
.region-sidebar-second .corner .views-row {
  padding: 10px 15px;
  width: 190px;
}
/* line 370, ../sass/blocks.scss */
.region-sidebar-second .corner .views-row a {
  color: #323232;
  text-decoration: none;
}
/* line 376, ../sass/blocks.scss */
.region-sidebar-second .corner p {
  margin-bottom: 7px;
  line-height: 19px;
}
/* line 381, ../sass/blocks.scss */
.region-sidebar-second .corner .view {
  width: 220px;
  min-height: 55px;
  float: left;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #f1f1f1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f1f1f1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #f1f1f1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #f1f1f1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #f1f1f1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
  /* IE6-9 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
  /* IE6-9 */
}
/* line 397, ../sass/blocks.scss */
.region-sidebar-second .corner .view:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 23px 23px 0 0;
  border-style: solid;
  border-color: transparent #fff transparent #fff;
  display: block;
  width: 0;
}
/* line 410, ../sass/blocks.scss */
.region-sidebar-second .corner .view .views-row {
  margin-bottom: 5px;
  background: none;
  box-shadow: none;
  line-height: 16px;
  margin-bottom: 8px;
}
/* line 417, ../sass/blocks.scss */
.region-sidebar-second .corner .view .views-row:before {
  content: none;
}
/* line 421, ../sass/blocks.scss */
.region-sidebar-second .corner .view .views-row:after {
  content: none;
}
/* line 427, ../sass/blocks.scss */
.region-sidebar-second .corner .view .views-row-even,
.region-sidebar-second .corner .view .views-row-odd {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 432, ../sass/blocks.scss */
.region-sidebar-second .corner .view .views-row-first {
  padding-top: 10px;
}
/* line 436, ../sass/blocks.scss */
.region-sidebar-second .corner .view .views-row-last {
  padding-bottom: 10px;
}

/* line 443, ../sass/blocks.scss */
.region-sidebar-second .corner.email h2 {
  color: #fff;
  border-bottom: none;
  padding: 10px 15px 5px;
  background: -moz-linear-gradient(top, #990000 0%, #a22727 40%, #810202 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #990000), color-stop(40%, #a22727), color-stop(100%, #810202));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #990000 0%, #a22727 40%, #810202 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #990000 0%, #a22727 40%, #810202 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #990000 0%, #a22727 40%, #810202 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #990000 0%, #a22727 40%, #810202 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#990000', endColorstr='#810202',GradientType=0 );
  /* IE6-8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#990000', endColorstr='#810202',GradientType=0 );
  /* IE8+ */
}

/* line 459, ../sass/blocks.scss */
.region-sidebar-second .data-matrix {
  position: static;
}
/* line 463, ../sass/blocks.scss */
.region-sidebar-second .view-program-header .corner {
  margin-top: 0;
}

/* line 471, ../sass/blocks.scss */
.pubs .view img {
  box-shadow: 3px 5px 7px #b4b4b4;
}
/* line 475, ../sass/blocks.scss */
.pubs .view .program-tag {
  float: none;
  display: inline-block;
}

/*
 * Utility Nav Styles
 */
/* line 485, ../sass/blocks.scss */
#block-menu-menu-utility-menu {
  margin-bottom: .8em;
}

/* line 490, ../sass/blocks.scss */
.utility ul.menu {
  font-family: "Arial Narrow", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 0;
}
/* line 496, ../sass/blocks.scss */
.fontface .utility ul.menu {
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}
/* line 500, ../sass/blocks.scss */
.utility ul.menu li {
  float: left;
  padding-left: 12px;
  margin-right: 7px;
  background-image: url(../images/utility.png);
  background-repeat: no-repeat;
  background-position: left center;
}
/* line 507, ../sass/blocks.scss */
.utility ul.menu li a {
  text-decoration: none;
  color: #774928;
}
/* line 510, ../sass/blocks.scss */
.utility ul.menu li a:hover {
  color: #990000;
  text-decoration: underline;
}
/* line 516, ../sass/blocks.scss */
.utility ul.menu li:last-child {
  margin-right: 0;
}
/* line 519, ../sass/blocks.scss */
.utility ul.menu li:first-child {
  background-image: none;
}

/*
 * Datasets Block Styles
 */
/* line 529, ../sass/blocks.scss */
.datasets {
  font-family: "Arial Narrow", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 14px;
}
/* line 534, ../sass/blocks.scss */
.fontface .datasets {
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}
/* line 538, ../sass/blocks.scss */
.datasets p {
  margin-bottom: 0;
}
/* line 540, ../sass/blocks.scss */
.datasets p a {
  color: #774928;
  text-decoration: none;
  font-weight: normal;
  display: block;
  background-image: url(../images/datasets-arrow.png);
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 25px;
}

/* line 553, ../sass/blocks.scss */
#postscript-second .datasets {
  width: 250px;
  float: right;
  margin-top: 20px;
}

/* line 559, ../sass/blocks.scss */
.program-datasets {
  position: absolute;
  top: 121.5px;
  right: 40px;
  width: 250px;
  z-index: 2;
  text-transform: uppercase;
}
/* line 567, ../sass/blocks.scss */
.program-datasets .ui-accordion-header {
  background-image: url(../images/datasets-diagonal.png) !important;
  background-repeat: repeat-x;
  background-position: left bottom;
  background-color: #990000 !important;
  color: #fff;
  font-family: "Arial Narrow", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: none;
  background-image: none;
  border-radius: 0;
  padding: 0;
  padding-bottom: 5px;
}
/* line 581, ../sass/blocks.scss */
.fontface .program-datasets .ui-accordion-header {
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}
/* line 585, ../sass/blocks.scss */
.program-datasets .ui-accordion-header a {
  padding-left: 1em !important;
  padding-top: .6em;
  padding-bottom: .6em;
  font-size: 15px;
  color: #fff !important;
}
/* line 591, ../sass/blocks.scss */
.program-datasets .ui-accordion-header a:hover {
  text-decoration: underline;
}
/* line 597, ../sass/blocks.scss */
.program-datasets .ui-accordion-header.ui-state-active {
  background-image: none !important;
  padding-bottom: 0;
  color: #fff;
}
/* line 603, ../sass/blocks.scss */
.program-datasets .ui-accordion-content {
  background-image: none;
  background: #614e37;
  /* Old browsers */
  background: -moz-linear-gradient(top, #614e37 0%, #796245 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #614e37), color-stop(100%, #796245));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #614e37 0%, #796245 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #614e37 0%, #796245 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #614e37 0%, #796245 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #614e37 0%, #796245 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#614e37', endColorstr='#796245',GradientType=0 );
  /* IE6-9 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#614e37', endColorstr='#796245',GradientType=0 );
  /* IE6-9 */
  border: none;
  border-radius: 0;
  padding: 10px 15px;
  height: auto !important;
}
/* line 619, ../sass/blocks.scss */
.program-datasets .ui-accordion-content div {
  overflow: hidden;
  padding: 1px 0;
}
/* line 624, ../sass/blocks.scss */
.program-datasets .ui-accordion-content a {
  color: #fff;
  font-family: "Arial Narrow", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 15px;
  padding: 10px 0;
}
/* line 631, ../sass/blocks.scss */
.fontface .program-datasets .ui-accordion-content a {
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}
/* line 635, ../sass/blocks.scss */
.program-datasets .ui-accordion-content a:hover {
  text-decoration: underline;
}
/* line 641, ../sass/blocks.scss */
.program-datasets h3 a {
  color: #fff;
}
/* line 645, ../sass/blocks.scss */
.program-datasets span.ui-icon {
  background-image: url(../images/datasets-dropdown.png);
  background-repeat: no-repeat;
  background-position: left center;
  left: 14em !important;
  top: 28% !important;
  margin-top: 0 !important;
}

/* line 655, ../sass/blocks.scss */
.logged-in .program-datasets .view-access-datasets {
  position: absolute;
  top: -15px;
  right: 0;
  width: 250px;
  z-index: 2;
  text-transform: uppercase;
}

/*
 * Policy Block Styles
 */
/* line 668, ../sass/blocks.scss */
#block-block-5 {
  clear: both;
  margin-top: -30px;
}

/* line 673, ../sass/blocks.scss */
.policy {
  font-size: 12px;
  color: #fff;
  padding-right: 5px;
}
/* line 677, ../sass/blocks.scss */
.policy a {
  color: #fff;
  padding: 0 5px;
  text-decoration: none;
  font-weight: normal;
}
/* line 682, ../sass/blocks.scss */
.policy a:hover {
  text-decoration: underline;
}

/*
 * NIH Block Styles
 */
/* line 691, ../sass/blocks.scss */
#block-block-6 {
  margin-bottom: 0;
}

/* line 695, ../sass/blocks.scss */
.NIH {
  width: 360px;
  padding-left: 30px;
}
/* line 699, ../sass/blocks.scss */
.NIH a {
  float: left;
  margin-right: 20px;
  vertical-align: middle;
}
/* line 703, ../sass/blocks.scss */
.NIH a img {
  vertical-align: middle;
}
/* line 708, ../sass/blocks.scss */
.NIH p {
  clear: both;
  color: #fff;
  font-size: 12px;
  padding-top: 10px;
}

/*
 * Addthis Block Styles
 */
/* line 720, ../sass/blocks.scss */
.addthis {
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 12px;
  float: right;
  margin-top: -45px;
  margin-bottom: 0;
}
/* line 726, ../sass/blocks.scss */
.addthis a {
  padding-left: 5px;
  margin-left: 5px;
  border-left: 1px dotted #d2d2d2;
  color: #323232;
  text-decoration: none;
}
/* line 734, ../sass/blocks.scss */
.addthis .addthis_button_compact {
  border-left: none;
}

/*
 * Lightbox Block Styles
 */
/* line 744, ../sass/blocks.scss */
#cboxClose {
  top: 0;
  background: url(../images/x-button.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 32px;
  width: 32px;
}
/* line 751, ../sass/blocks.scss */
#cboxClose:hover {
  background-position: 0 -32px;
}

/*
 * Last Updated Block Styles
 */
/* line 762, ../sass/blocks.scss */
#block-views-last-updated-block {
  clear: both;
}

/*
 * Collaborators Block Styles
 */
/* line 770, ../sass/blocks.scss */
.view-program-sidebar .views-field {
  margin-bottom: 8px;
}
