 /**
* @file
* Page Styling
*
* Style the markup found in page.tpl.php. Also includes some styling of
* miscellaneous Drupal elements that appear in the $content variable, such as
* ul.links, .pager, .more-link, etc.
*/
/*
 * Admin Menu Override
 */
/* line 16, ../sass/pages.scss */
#admin-menu {
  margin: 0;
}

/*
 * Body
 */
/* line 25, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  color: #323232;
  font-weight: normal;
  background-image: url(../images/bkg-tile.png);
  background-repeat: repeat;
}

/* line 34, ../sass/pages.scss */
a:focus {
  outline: 1px dotted #990000;
}

/* line 39, ../sass/pages.scss */
.region-footer ul li a:focus,
.region-navigation ul li a:focus {
  outline: 1px dotted #fff!important;
  background-color: transparent !important;
}

/* line 44, ../sass/pages.scss */
#page {
  font-weight: normal;
}

/* line 48, ../sass/pages.scss */
.not-front .page-node #content img {
  box-shadow: none;
  float: left;
  padding-right: 20px;
  padding-bottom: 15px;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 60, ../sass/pages.scss */
#skip-link {
  margin: 0;
  background-color: #767676;
}
/* line 65, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #767676;
  color: #fff;
  font-size: 16px;
}

/* line 76, ../sass/pages.scss */
.left {
  float: left;
  padding-right: 20px;
}

/* line 81, ../sass/pages.scss */
.right {
  float: right;
  padding-left: 15px;
}

/*
 * Header
 */
/* line 89, ../sass/pages.scss */
.NCI-banner {
  background: #5c5c5c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5c5c5c 0%, #707070 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5c5c5c), color-stop(100%, #707070));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5c5c5c 0%, #707070 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #5c5c5c 0%, #707070 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #5c5c5c 0%, #707070 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #5c5c5c 0%, #707070 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c5c5c', endColorstr='#707070',GradientType=0 );
  /* IE6-8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c5c5c', endColorstr='#707070',GradientType=0 );
  /* IE8+ */
}

/* line 101, ../sass/pages.scss */
.NCI-inner {
  overflow: hidden;
  min-width: 960px;
}
/* line 105, ../sass/pages.scss */
.NCI-inner a {
  display: block;
}

/* line 110, ../sass/pages.scss */
.dna-banner {
  background-image: url(../images/dna-sequence.png);
  background-repeat: repeat-x;
  height: 20px;
  min-width: 960px;
}

/* line 118, ../sass/pages.scss */
.outer-header {
  max-width: none;
  background-image: url(../images/continue-bkg.png);
  background-repeat: repeat;
  min-width: 960px;
  height: 161px;
}

/* line 127, ../sass/pages.scss */
.disappear {
  background: url(../images/header.png) no-repeat center top;
}

/* line 131, ../sass/pages.scss */
#header {
  margin-bottom: -3px;
  background-image: url(../images/header-bkg.png);
  background-repeat: no-repeat;
  position: relative;
  padding: 0 20px;
}

/* line 139, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0 20px;
  margin-top: 35px;
  margin-bottom: 35px;
}
/* line 146, ../sass/pages.scss */
#logo img {
  vertical-align: middle;
}

/* line 151, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  position: absolute;
  top: 0;
  left: -99999999px;
}

/* line 157, ../sass/pages.scss */
#site-name {
  /* The name of the website */
}
/* line 159, ../sass/pages.scss */
#site-name .of {
  font-style: italic;
}
/* line 164, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #473121;
  text-decoration: none;
  display: block;
}
/* line 171, ../sass/pages.scss */
#site-name a:hover
a:focus {
  text-decoration: underline;
}

/* line 176, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 181, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: right;
  /* Clear the logo */
  float: right;
  width: 430px;
  padding-right: 20px;
  overflow: hidden;
}

/*
 * Main (container for everything else)
 */
/* line 192, ../sass/pages.scss */
.main-wrap {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 3%, rgba(255, 245, 155, 0) 70%, rgba(255, 241, 112, 0.25) 99%, rgba(255, 241, 110, 0.25) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, rgba(255, 255, 255, 0)), color-stop(70%, rgba(255, 245, 155, 0)), color-stop(99%, rgba(255, 241, 112, 0.25)), color-stop(100%, rgba(255, 241, 110, 0.25)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 3%, rgba(255, 245, 155, 0) 70%, rgba(255, 241, 112, 0.25) 99%, rgba(255, 241, 110, 0.25) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 3%, rgba(255, 245, 155, 0) 70%, rgba(255, 241, 112, 0.25) 99%, rgba(255, 241, 110, 0.25) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 3%, rgba(255, 245, 155, 0) 70%, rgba(255, 241, 112, 0.25) 99%, rgba(255, 241, 110, 0.25) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 3%, rgba(255, 245, 155, 0) 70%, rgba(255, 241, 112, 0.25) 99%, rgba(255, 241, 110, 0.25) 100%);
  /* W3C */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#40fff16e',GradientType=0 ); - IE6-8
  -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#40fff16e',GradientType=0 );  - IE8+ */
  width: 100%;
}
/* line 202, ../sass/pages.scss */
.main-wrap a:hover {
  color: #990000 !important;
  text-decoration: underline !important;
}

/* line 208, ../sass/pages.scss */
#main {
  background-color: #fff;
  margin-top: 2px;
}

/* line 213, ../sass/pages.scss */
.front #main {
  background: none;
}

/* line 217, ../sass/pages.scss */
#pre-content {
  padding: 0 20px;
  padding-top: 1.6em;
}

/* line 222, ../sass/pages.scss */
.not-front #pre-content {
  background: #fff;
}

/*
 * Content
 */
/* line 233, ../sass/pages.scss */
.front #main #postscript-first a,
.front #main #postscript-second a,
#main #content a {
  color: #774928;
  text-decoration: none;
}
/* line 236, ../sass/pages.scss */
.front #main #postscript-first a:visited,
.front #main #postscript-second a:visited,
#main #content a:visited {
  color: #917515;
}
/* line 240, ../sass/pages.scss */
.front #main #postscript-first a:hover,
.front #main #postscript-second a:hover,
#main #content a:hover {
  color: #990000;
}
/* line 244, ../sass/pages.scss */
.front #main #postscript-first a:active,
.front #main #postscript-second a:active,
#main #content a:active {
  color: #990000;
}
/* line 250, ../sass/pages.scss */
.front #main #postscript-first ul.tabs li,
.front #main #postscript-second ul.tabs li,
#main #content ul.tabs li {
  list-style-image: none;
}
/* line 255, ../sass/pages.scss */
.front #main #postscript-first ul,
.front #main #postscript-second ul,
#main #content ul {
  list-style-type: none;
  list-style-image: url(../images/bullet.gif);
  margin-top: 0;
  margin-bottom: 1.5em;
}
/* line 260, ../sass/pages.scss */
.front #main #postscript-first ul ul,
.front #main #postscript-second ul ul,
#main #content ul ul {
  margin-bottom: 0;
}
/* line 265, ../sass/pages.scss */
.front #main #postscript-first .even,
.front #main #postscript-second .even,
#main #content .even {
  padding-right: 0;
}

/* line 270, ../sass/pages.scss */
.not-front #main #content {
  min-height: 700px;
  padding-bottom: 120px;
}
/* line 273, ../sass/pages.scss */
.not-front #main #content p a {
  text-decoration: underline;
}
/* line 276, ../sass/pages.scss */
.not-front #main #content li a {
  text-decoration: underline;
}

/* line 284, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
  padding-bottom: 30px;
}
/* line 287, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 291, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #716c61;
}
/* line 299, ../sass/pages.scss */
.breadcrumb li a {
  color: #313131;
  text-decoration: none;
}

/* line 311, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin-top: 0;
  color: #990000;
  font-family: "Arial Narrow", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: 700;
  line-height: 30px;
}
/* line 317, ../sass/pages.scss */
.fontface h1.title, .fontface
h2.node-title, .fontface
h2.block-title, .fontface
h2.title, .fontface
h2.comment-form, .fontface
h3.title {
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}
/* line 321, ../sass/pages.scss */
h1.title a,
h2.node-title a,
h2.block-title a,
h2.title a,
h2.comment-form a,
h3.title a {
  color: #774928;
  text-decoration: none;
  font-weight: normal;
}

/* line 328, ../sass/pages.scss */
h2.block-title {
  margin: 0;
  line-height: 25px;
  text-transform: uppercase !important;
}

/* line 334, ../sass/pages.scss */
h1 {
  text-transform: uppercase;
  margin-bottom: 12px;
  font-family: "Arial Narrow", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: 700;
  line-height: 30px;
}
/* line 340, ../sass/pages.scss */
.fontface h1 {
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}

/* line 346, ../sass/pages.scss */
h2 {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-family: "Arial Narrow", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: 700;
  line-height: 28px;
  color: #990000;
}
/* line 353, ../sass/pages.scss */
.fontface h2 {
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}

/* line 359, ../sass/pages.scss */
h3, h4 {
  margin-bottom: 5px;
  font-family: "Arial Narrow", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: 700;
  line-height: 24px;
  color: #990000;
}
/* line 365, ../sass/pages.scss */
.fontface h3, .fontface h4 {
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}

/* line 372, ../sass/pages.scss */
.not-front h1.title,
.not-front h2 {
  text-transform: none;
}

/* line 380, ../sass/pages.scss */
.page-node-22 h1.title,
.page-node-211 h1.title,
.page-node-1 h1.title,
.page-node-21 h1.title {
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 36px;
  font-size: 36px;
  margin-bottom: 5px;
}
/* line 386, ../sass/pages.scss */
.fontface .page-node-22 h1.title, .fontface
.page-node-211 h1.title, .fontface
.page-node-1 h1.title, .fontface
.page-node-21 h1.title {
  font-family: "FranklinGothicFSCdBold", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}
/* line 391, ../sass/pages.scss */
.page-node-22 .field-name-body,
.page-node-211 .field-name-body,
.page-node-1 .field-name-body,
.page-node-21 .field-name-body {
  padding-top: 0 !important;
}
/* line 394, ../sass/pages.scss */
.page-node-22 .intro,
.page-node-211 .intro,
.page-node-1 .intro,
.page-node-21 .intro {
  margin-bottom: 50px;
}

/* line 399, ../sass/pages.scss */
p, pre {
  margin-bottom: 1.2em;
  line-height: 20px;
}

/* line 406, ../sass/pages.scss */
ol li,
ul li {
  line-height: 20px;
  margin-bottom: 5px;
}

/* line 412, ../sass/pages.scss */
table {
  border: 1px solid #ebebeb;
}
/* line 414, ../sass/pages.scss */
table th {
  padding: 5px 10px;
  border-right: 1px solid #ebebeb;
}
/* line 418, ../sass/pages.scss */
table td {
  padding: 5px 10px;
}

/* line 423, ../sass/pages.scss */
.tablestyles tr.odd {
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
}
/* line 427, ../sass/pages.scss */
.tablestyles tr.odd td,
.tablestyles tr.odd th {
  border-right: 1px solid #ebebeb !important;
}

/* line 432, ../sass/pages.scss */
.tablestyles tr.even {
  /* Some tables have rows marked even or odd. */
  background-color: #fcfcea !important;
  border-bottom: 1px solid #ebebeb !important;
}
/* line 436, ../sass/pages.scss */
.tablestyles tr.even td,
.tablestyles tr.even th {
  border-right: 1px solid #ebebeb !important;
}

/* line 442, ../sass/pages.scss */
.tablestyles thead tr,
.tablestyles tr.header {
  background-color: #990000 !important;
  color: #fff;
}

/* line 448, ../sass/pages.scss */
.not-front.page-node .field-type-datetime {
  padding-bottom: 10px;
}

/* line 452, ../sass/pages.scss */
.not-front.page-node .field-name-body {
  padding-top: 10px;
}

/* line 457, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 460, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 466, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 470, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 475, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 478, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 482, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 486, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 489, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 492, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 495, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 498, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 502, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 508, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 512, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 515, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 10px 0 0;
  margin-right: 5px;
  text-transform: capitalize;
}
/* line 522, ../sass/pages.scss */
.item-list .pager li.pager-current,
.item-list .pager li.pager-item {
  border-right: 1px solid #d2d2d2;
}
/* line 526, ../sass/pages.scss */
.item-list .pager li.pager-item:last-child {
  border-right: none;
}
/* line 530, ../sass/pages.scss */
.item-list .pager li.pager-next {
  background-image: url(../images/next.gif);
  background-position: right center;
  background-repeat: no-repeat;
}
/* line 536, ../sass/pages.scss */
.item-list .pager li.pager-last {
  background-image: url(../images/last.gif);
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 15px;
}
/* line 543, ../sass/pages.scss */
.item-list .pager li.pager-previous {
  background-image: url(../images/previous.gif);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-right: 0;
}
/* line 551, ../sass/pages.scss */
.item-list .pager li.pager-first {
  background-image: url(../images/first.gif);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 15px;
  padding-right: 0;
}

/* line 560, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 563, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
  position: absolute;
  top: 10px;
  right: 20px;
  color: #990000 !important;
}
/* line 568, ../sass/pages.scss */
.more-link a {
  color: #990000 !important;
  font-style: normal;
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/* line 597, ../sass/pages.scss */
.footer-wrap {
  border-top: 3px solid #d9d9d9;
  background: #e3830c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e3830c 0%, #c55208 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e3830c), color-stop(100%, #c55208));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e3830c 0%, #c55208 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e3830c 0%, #c55208 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e3830c 0%, #c55208 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e3830c 0%, #c55208 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3830c', endColorstr='#c55208',GradientType=0 );
  /* IE6-8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3830c', endColorstr='#c55208',GradientType=0 );
  /* IE8+ */
  min-width: 960px;
}

/* line 611, ../sass/pages.scss */
.footer-wrap-inner {
  background-image: url(../images/footer-bkg.png);
  background-repeat: repeat-x;
  min-width: 960px;
}

/* line 618, ../sass/pages.scss */
#footer .block-menu-block {
  margin-bottom: 0;
}
/* line 620, ../sass/pages.scss */
#footer .block-menu-block ul {
  overflow: hidden;
  padding: 12px 30px;
}
/* line 624, ../sass/pages.scss */
#footer .block-menu-block ul li {
  float: left;
  width: 200px;
  font-family: "Arial Narrow", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 631, ../sass/pages.scss */
.fontface #footer .block-menu-block ul li {
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}
/* line 636, ../sass/pages.scss */
#footer .block-menu-block ul li ul {
  padding-top: 10px;
  padding-left: 0;
}
/* line 641, ../sass/pages.scss */
#footer .block-menu-block ul li li {
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 13px;
  font-weight: normal;
  float: none;
  text-transform: none;
  line-height: 17px;
}
/* line 648, ../sass/pages.scss */
.fontface #footer .block-menu-block ul li li {
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-weight: normal;
}
/* line 654, ../sass/pages.scss */
#footer .block-menu-block ul li a {
  color: #ffffff;
  text-decoration: none;
}
/* line 657, ../sass/pages.scss */
#footer .block-menu-block ul li a:hover {
  text-decoration: underline;
}
/* line 664, ../sass/pages.scss */
#footer .block-menu-block ul li.collapsed,
#footer .block-menu-block ul li.expanded {
  list-style-type: none;
  list-style-image: none;
}

/*
 * Page bottom
 */
/* line 676, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/*
 * Front Page Custom Styles
 */
/* line 684, ../sass/pages.scss */
.front #content {
  overflow: hidden;
}
/* line 689, ../sass/pages.scss */
.front #page-title {
  font-size: 22px;
  display: inline-block;
  color: #774928;
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 0;
}
/* line 698, ../sass/pages.scss */
.front .node-2 {
  border-bottom: 1px solid #e1e1e1;
  margin-top: -15px;
}
/* line 702, ../sass/pages.scss */
.front .node-2 img {
  margin-top: -35px;
}
/* line 706, ../sass/pages.scss */
.front .node-2 p {
  color: #774928;
  font-size: 15px;
}
/* line 714, ../sass/pages.scss */
.front .node-2 a {
  font-size: 16px;
  font-family: "Arial Narrow", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: 700;
}
/* line 718, ../sass/pages.scss */
.fontface .front .node-2 a {
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}
/* line 724, ../sass/pages.scss */
.front .node-2 .email {
  border-left: 2px solid #c7b3a4;
  padding-left: 5px;
}
/* line 728, ../sass/pages.scss */
.front .node-2 .email a {
  color: #990000 !important;
}
/* line 735, ../sass/pages.scss */
.front #postscript-first,
.front #postscript-second {
  margin-bottom: 22px;
  overflow: hidden;
}
/* line 739, ../sass/pages.scss */
.front #postscript-first .views-row-last,
.front #postscript-second .views-row-last {
  margin-bottom: 0;
  padding-bottom: 0 !important;
}
/* line 745, ../sass/pages.scss */
.front #postscript-first .view-publications .views-field-field-programs-abbreviated-title,
.front #postscript-second .view-publications .views-field-field-programs-abbreviated-title {
  overflow: hidden;
}
/* line 750, ../sass/pages.scss */
.front #postscript-first .block.two-col,
.front #postscript-second .block.two-col {
  position: relative;
  margin-bottom: 20px;
}
/* line 755, ../sass/pages.scss */
.front #postscript-first .two-col .view,
.front #postscript-second .two-col .view {
  background: none;
  box-shadow: none;
  position: static;
  border-top: 1px solid #e1e1e1;
  margin-bottom: 0;
}
/* line 762, ../sass/pages.scss */
.front #postscript-first .two-col .view:after,
.front #postscript-second .two-col .view:after {
  box-shadow: none;
}
/* line 766, ../sass/pages.scss */
.front #postscript-first .two-col .view:before,
.front #postscript-second .two-col .view:before {
  border-color: transparent;
}
/* line 770, ../sass/pages.scss */
.front #postscript-first .two-col .view .views-row,
.front #postscript-second .two-col .view .views-row {
  padding-bottom: 15px;
  margin-bottom: 2px;
}
/* line 775, ../sass/pages.scss */
.front #postscript-first .two-col .view img,
.front #postscript-second .two-col .view img {
  box-shadow: 2px 2px 15px #b4b4b4;
  margin-bottom: 30px;
}
/* line 780, ../sass/pages.scss */
.front #postscript-first .two-col .view a,
.front #postscript-second .two-col .view a {
  color: #774928;
  text-decoration: none;
}
/* line 785, ../sass/pages.scss */
.front #postscript-first .two-col .view .views-field-title,
.front #postscript-second .two-col .view .views-field-title {
  font-size: 18px;
  line-height: 20px;
  font-family: "Arial Narrow", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: 700;
  margin-top: 0;
}
/* line 791, ../sass/pages.scss */
.fontface .front #postscript-first .two-col .view .views-field-title, .fontface
.front #postscript-second .two-col .view .views-field-title {
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}
/* line 795, ../sass/pages.scss */
.front #postscript-first .two-col .view .views-field-title a,
.front #postscript-second .two-col .view .views-field-title a {
  font-style: normal;
}
/* line 800, ../sass/pages.scss */
.front #postscript-first .two-col .view p,
.front #postscript-second .two-col .view p {
  margin: 0;
}
/* line 802, ../sass/pages.scss */
.front #postscript-first .two-col .view .more-link,
.front #postscript-second .two-col .view .more-link {
  position: absolute;
  top: 10px;
  right: 28px;
}
/* line 806, ../sass/pages.scss */
.front #postscript-first .two-col .view .more-link a,
.front #postscript-second .two-col .view .more-link a {
  color: #990000 !important;
  font-style: normal;
}
/* line 813, ../sass/pages.scss */
.front #postscript-first h2.block-title,
.front #postscript-second h2.block-title {
  color: #646464 !important;
  line-height: 28px;
}
/* line 818, ../sass/pages.scss */
.front #postscript-first .views-field-body p,
.front #postscript-second .views-field-body p {
  padding: 10px 0;
  line-height: 18px;
}
/* line 823, ../sass/pages.scss */
.front #postscript-first {
  padding-top: 22px;
}
/* line 827, ../sass/pages.scss */
.front #postscript-second {
  border-top: none;
  border-bottom: none;
}

/* line 834, ../sass/pages.scss */
#block-views-publications-block-1 .left {
  padding-right: 20px;
}

/* line 840, ../sass/pages.scss */
#block-views-news-and-publications-block-1 .view {
  padding-left: 0 !important;
}
/* line 843, ../sass/pages.scss */
#block-views-news-and-publications-block-1 .more-link {
  right: 0 !important;
}

/* line 849, ../sass/pages.scss */
#block-views-e-newsletter-block-2 .more-link {
  right: 0 !important;
}

/* line 854, ../sass/pages.scss */
.front #postscript-first {
  border-top: 5px solid #e1e1e1 !important;
  border-bottom: 5px solid #e1e1e1 !important;
}

/* line 860, ../sass/pages.scss */
.two-col .view-programs .views-field-title a {
  color: #990000 !important;
}
/* line 864, ../sass/pages.scss */
.two-col .view-programs .views-field-view-node a {
  color: #323232 !important;
}

/* line 869, ../sass/pages.scss */
.two-col.last .view {
  margin-right: 0 !important;
}

/* line 875, ../sass/pages.scss */
.data-matrix {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #990000;
  text-transform: uppercase;
  font-family: "Arial Narrow", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: 700;
  width: 60px;
  background-image: none;
  line-height: 1em;
  padding: 5px;
  padding-top: 5px;
}
/* line 888, ../sass/pages.scss */
.fontface .data-matrix {
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}
/* line 893, ../sass/pages.scss */
.data-matrix a {
  color: #fff!important;
  background-image: url(../images/matrix-arrow.png);
  background-repeat: no-repeat;
  background-position: right top;
  padding: 5px;
  padding-top: 15px;
  width: 50px;
  display: block;
}
/* line 902, ../sass/pages.scss */
.data-matrix a:hover {
  color: #fff !important;
}

/* line 910, ../sass/pages.scss */
.views-label,
.field-label {
  color: #7d7d7d;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  display: inline;
  padding: 5px 10px 5px 0;
}

/* line 919, ../sass/pages.scss */
.views-row.program-tag {
  float: left;
}

/* line 923, ../sass/pages.scss */
.views-row {
  overflow: hidden;
  width: 100%;
}
/* line 926, ../sass/pages.scss */
.views-row .program-tag a {
  background-color: #767676;
  line-height: 20px;
  text-align: center;
  color: #fff !important;
  font-weight: bold;
  display: block;
  line-height: 20px;
  font-size: 12px;
}
/* line 936, ../sass/pages.scss */
.views-row .program-tag a:hover {
  background-color: #990000;
  color: #fff;
  text-decoration: none !important;
}
/* line 944, ../sass/pages.scss */
.views-row .program,
.views-row .program-tag {
  overflow: hidden;
  background-color: #767676;
  width: 70px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  color: #fff !important;
  font-weight: bold;
  margin-right: 10px;
  float: left;
  font-size: 12px;
}
/* line 958, ../sass/pages.scss */
.views-row .program-all-programs {
  overflow: hidden;
  background-color: #767676;
  width: 70px;
  line-height: 20px;
  text-align: center;
  color: #fff !important;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 9px;
  float: left !important;
  font-size: 12px;
  width: 125px;
  text-transform: uppercase;
}
/* line 972, ../sass/pages.scss */
.views-row .program-all-programs a {
  color: #fff !important;
  display: block;
}
/* line 975, ../sass/pages.scss */
.views-row .program-all-programs a:hover {
  background-color: #990000;
  text-decoration: none !important;
}
/* line 983, ../sass/pages.scss */
.views-row .views-field-field-publication-program,
.views-row .views-field-field-news-program {
  overflow: hidden;
  float: none;
}
/* line 987, ../sass/pages.scss */
.views-row .views-field-field-publication-program .node,
.views-row .views-field-field-publication-program .program-all-programs,
.views-row .views-field-field-news-program .node,
.views-row .views-field-field-news-program .program-all-programs {
  overflow: hidden;
  background-color: #767676;
  width: 70px;
  line-height: 20px;
  text-align: center;
  color: #fff !important;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 9px;
  float: left !important;
  font-size: 12px;
}
/* line 999, ../sass/pages.scss */
.views-row .views-field-field-publication-program .node a,
.views-row .views-field-field-publication-program .program-all-programs a,
.views-row .views-field-field-news-program .node a,
.views-row .views-field-field-news-program .program-all-programs a {
  color: #fff !important;
  display: block;
}
/* line 1002, ../sass/pages.scss */
.views-row .views-field-field-publication-program .node a:hover,
.views-row .views-field-field-publication-program .program-all-programs a:hover,
.views-row .views-field-field-news-program .node a:hover,
.views-row .views-field-field-news-program .program-all-programs a:hover {
  background-color: #990000;
  text-decoration: none !important;
}
/* line 1008, ../sass/pages.scss */
.views-row .views-field-field-publication-program .program-all-programs,
.views-row .views-field-field-news-program .program-all-programs {
  width: 125px;
  text-transform: uppercase;
}
/* line 1011, ../sass/pages.scss */
.views-row .views-field-field-publication-program .program-all-programs a,
.views-row .views-field-field-news-program .program-all-programs a {
  color: #fff;
}

/* line 1018, ../sass/pages.scss */
.view-publications .program-tag {
  float: none;
  margin-bottom: 10px;
}

/* line 1023, ../sass/pages.scss */
.page-news-publications-news .program-tag {
  padding: 0;
}

/*
 * Programs Landing Page Custom Styles
 */
/* line 1034, ../sass/pages.scss */
.archive .view {
  padding-bottom: 4px;
  border-bottom: 5px solid #e1e1e1;
}
/* line 1038, ../sass/pages.scss */
.archive .view .right {
  width: 52%;
  padding-left: 0;
}
/* line 1043, ../sass/pages.scss */
.archive .view p {
  margin-bottom: 5px;
}
/* line 1048, ../sass/pages.scss */
.archive .views-row {
  position: relative;
  border-bottom: 1px dotted #d7d7d7;
  padding-bottom: 25px;
  margin-bottom: 22px !important;
}
/* line 1054, ../sass/pages.scss */
.archive .views-row .data-matrix {
  top: 0;
  left: 230px;
}
/* line 1059, ../sass/pages.scss */
.archive .views-row .left img {
  box-shadow: 3px 5px 7px #b4b4b4;
}
/* line 1063, ../sass/pages.scss */
.archive .views-row h2 {
  margin-top: 5px;
  font-size: 18.2px;
  line-height: 1.1em;
}
/* line 1070, ../sass/pages.scss */
.archive .views-row h3 a span {
  color: #990000;
}
/* line 1076, ../sass/pages.scss */
.archive .views-row-last {
  border-bottom: none;
}

/* line 1081, ../sass/pages.scss */
.section-programs .view-news-and-publications .views-row {
  padding-bottom: 0;
}

/* line 1085, ../sass/pages.scss */
.intro p {
  font-size: 15px;
}

/* line 1089, ../sass/pages.scss */
.archive.last .view {
  border-bottom: none;
}

/* line 1095, ../sass/pages.scss */
.two-sidebars #main,
.sidebar-first #main {
  background: white url(../images/middleshadow.png) repeat-y 15px top;
}

/* line 1102, ../sass/pages.scss */
.two-sidebars .region-sidebar-second,
.sidebar-second .region-sidebar-second {
  padding-left: 0;
  width: 220px;
}

/*
 * Individual Program Landing Page Custom Styles
 */
/* line 1111, ../sass/pages.scss */
#block-views-program-header-block {
  overflow: visible;
}
/* line 1114, ../sass/pages.scss */
#block-views-program-header-block .view-program-header {
  overflow: visible;
}
/* line 1117, ../sass/pages.scss */
#block-views-program-header-block .view-program-header .views-field-field-image {
  height: 310px;
}
/* line 1119, ../sass/pages.scss */
#block-views-program-header-block .view-program-header .views-field-field-image img {
  position: absolute;
  margin-left: -20px;
}
/* line 1125, ../sass/pages.scss */
#block-views-program-header-block .view-program-header .data-matrix {
  width: 220px;
}
/* line 1129, ../sass/pages.scss */
#block-views-program-header-block .view-program-header .corner {
  width: 190px;
}

/* line 1135, ../sass/pages.scss */
.view-program-header {
  position: relative;
}
/* line 1138, ../sass/pages.scss */
.view-program-header h1 {
  color: #774928;
  text-transform: capitalize;
}
/* line 1141, ../sass/pages.scss */
.view-program-header h1 span {
  color: #990000;
}
/* line 1146, ../sass/pages.scss */
.view-program-header .data-matrix {
  width: 220px;
  height: 170px;
  padding: 0;
}
/* line 1150, ../sass/pages.scss */
.view-program-header .data-matrix a {
  text-decoration: none;
  font-size: 15.6px;
  width: 100%;
  height: 170px;
  display: block;
  background-image: url(../images/program-matrix.png);
  background-position: center 40px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 15px 0 0 0;
}
/* line 1161, ../sass/pages.scss */
.view-program-header .data-matrix a:hover {
  background-image: url(../images/program-matrix.png);
  background-position: center -110px;
}
/* line 1169, ../sass/pages.scss */
.view-program-header .views-field-title h1 {
  font-size: 2em;
  margin-top: 25px;
  margin-bottom: 5px;
}
/* line 1176, ../sass/pages.scss */
.view-program-header .corner {
  position: relative;
  width: 195px !important;
  height: 128px;
  float: right;
  padding: 12px 5px 0 20px;
  position: relative;
  overflow: hidden;
  background-color: #776349;
  color: #fff;
  margin-top: -140px;
  font-size: 12px;
}
/* line 1189, ../sass/pages.scss */
.view-program-header .corner:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 23px 23px 0 0;
  border-style: solid;
  border-color: transparent #fff transparent #fff;
  display: block;
  width: 0;
}
/* line 1201, ../sass/pages.scss */
.view-program-header .corner p {
  line-height: 19px;
  margin-bottom: 7px;
}
/* line 1206, ../sass/pages.scss */
.view-program-header .corner a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-family: "Arial Narrow", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: 700;
}
/* line 1212, ../sass/pages.scss */
.fontface .view-program-header .corner a {
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}
/* line 1216, ../sass/pages.scss */
.view-program-header .corner a:hover {
  color: #fff !important;
  text-decoration: underline;
}

/* line 1224, ../sass/pages.scss */
.views-field-field-program-init-comp-summary .corner {
  height: 300px;
  margin-top: -310px;
}

/*
 * Publications Pages Custom Styles
 */
/* line 1232, ../sass/pages.scss */
.page-node-21 .more-link {
  right: 15px;
}

/* line 1236, ../sass/pages.scss */
.page-node-21 .view-news-and-publications {
  border-bottom: 5px solid #e1e1e1;
}

/* line 1240, ../sass/pages.scss */
.page-node-21 .view-news-and-publications .right {
  width: 88.5%;
  padding-left: 0;
}

/* line 1246, ../sass/pages.scss */
.page-news-publications .view-news-and-publications .right {
  width: 80%;
}
/* line 1250, ../sass/pages.scss */
.page-news-publications .view-news-and-publications h2 {
  text-transform: capitalize;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18.2px;
  line-height: 1em;
}
/* line 1259, ../sass/pages.scss */
.page-news-publications .view-news-and-publications p {
  margin-bottom: 5px;
}
/* line 1262, ../sass/pages.scss */
.page-news-publications .view-news-and-publications .views-row {
  padding-bottom: 0 !important;
}

/* line 1268, ../sass/pages.scss */
.front .view-news-and-publications .right {
  width: 360px;
  padding-left: 0;
}

/* line 1276, ../sass/pages.scss */
.page-programs .view-publications .views-field-field-programs-abbreviated-title .left,
.page-news-publications-publications .view .views-field-field-programs-abbreviated-title .left {
  width: 150px;
}
/* line 1279, ../sass/pages.scss */
.page-programs .view-publications .right,
.page-news-publications-publications .view .right {
  width: 300px;
  padding: 0;
}
/* line 1282, ../sass/pages.scss */
.page-programs .view-publications .right h2,
.page-news-publications-publications .view .right h2 {
  margin-top: 0;
}
/* line 1287, ../sass/pages.scss */
.page-programs .view-publications p,
.page-news-publications-publications .view p {
  margin-bottom: 5px;
}
/* line 1291, ../sass/pages.scss */
.page-programs .view-publications img,
.page-news-publications-publications .view img {
  box-shadow: 3px 5px 7px #b4b4b4;
}

/*
 * Node Pages Custom Styles
 */
/* line 1300, ../sass/pages.scss */
.field-type-entityreference {
  overflow: hidden;
}
/* line 1303, ../sass/pages.scss */
.field-type-entityreference .field-items {
  float: none;
}
/* line 1308, ../sass/pages.scss */
.field-type-entityreference .views-label,
.field-type-entityreference .field-label {
  color: #7d7d7d;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  padding: 5px 10px 5px 0;
}
/* line 1316, ../sass/pages.scss */
.field-type-entityreference a {
  background-color: #7d7d7d;
  padding: 1px 10px 0;
  /*     text-transform: uppercase; */
  line-height: 19px;
  display: block;
  color: #fff !important;
  font-weight: bold;
  margin: 3px 10px 3px 0;
  float: left;
  font-size: 12px;
  width: auto;
}
/* line 1329, ../sass/pages.scss */
.field-type-entityreference a:hover {
  background-color: #990000;
  color: #fff !important;
  text-decoration: none !important;
}

/* line 1337, ../sass/pages.scss */
.views-field-field-resource-resource-type.field-type-entityreference .field-content {
  background-color: #7d7d7d;
  padding: 2px 10px;
  font-size: 12px;
  color: #fff !important;
  font-weight: bold;
  margin: 3px 10px 3px 0;
  float: left;
}

/* line 1347, ../sass/pages.scss */
.field-name-field-publication-journal .field-items {
  font-style: italic;
}

/* line 1351, ../sass/pages.scss */
.view-mode-full .field-type-image {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

/* line 1357, ../sass/pages.scss */
.field-name-field-news-ext-link {
  padding-bottom: 10px;
}

/* line 1361, ../sass/pages.scss */
span.noicon {
  text-indent: -999999px;
  display: inline-block;
  margin-left: 10px;
  width: 14px;
  position: absolute;
}

/* line 1369, ../sass/pages.scss */
span.newtab {
  text-indent: -999999px;
  background: url(../images/newtab.png) no-repeat;
  display: inline-block;
  width: 14px;
}

/* line 1376, ../sass/pages.scss */
span.pdf {
  text-indent: -999999px;
  background: url(../images/pdf.gif) no-repeat;
  display: inline-block;
  width: 14px;
  margin-left: 3px;
}

/*
 * Send Page by Email Styles
 */
/* line 1389, ../sass/pages.scss */
#print-mail-form input[type="text"] {
  padding: 3px 5px;
  border: none;
  border: 1px solid #cfcfcf;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 445px;
}
/* line 1398, ../sass/pages.scss */
#print-mail-form textarea {
  width: 445px;
  margin-left: 174px;
  padding: 3px 5px;
  border: none;
  border: 1px solid #cfcfcf;
}
/* line 1405, ../sass/pages.scss */
#print-mail-form .grippie {
  width: 445px;
  margin-left: 174px;
}
/* line 1409, ../sass/pages.scss */
#print-mail-form .description {
  margin-left: 174px;
}
/* line 1413, ../sass/pages.scss */
#print-mail-form textarea#edit-txt-message {
  max-width: none;
}
/* line 1418, ../sass/pages.scss */
#print-mail-form input[type="reset"],
#print-mail-form input[type="submit"] {
  -webkit-appearance: none;
  border: none;
  font-family: "Arial Narrow", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px 15px 5px;
  margin-right: 10px;
  background: #796245;
  background: -moz-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #796245), color-stop(40%, #7b664c), color-stop(100%, #624f38));
  background: -webkit-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  background: -o-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  background: -ms-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  background: linear-gradient(to bottom, #796245 1%, #7b664c 40%, #624f38 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#796245', endColorstr='#624f38',GradientType=0 );
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#796245', endColorstr='#624f38',GradientType=0 );
}
/* line 1437, ../sass/pages.scss */
.fontface #print-mail-form input[type="reset"], .fontface
#print-mail-form input[type="submit"] {
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}
/* line 1441, ../sass/pages.scss */
#print-mail-form input[type="reset"]:hover,
#print-mail-form input[type="submit"]:hover {
  background: -moz-linear-gradient(top, #990000 0%, #a22727 40%, #810202 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #990000), color-stop(40%, #a22727), color-stop(100%, #810202));
  background: -webkit-linear-gradient(top, #990000 0%, #a22727 40%, #810202 100%);
  background: -o-linear-gradient(top, #990000 0%, #a22727 40%, #810202 100%);
  background: -ms-linear-gradient(top, #990000 0%, #a22727 40%, #810202 100%);
  background: linear-gradient(to bottom, #990000 0%, #a22727 40%, #810202 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#990000', endColorstr='#810202',GradientType=0 );
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#990000', endColorstr='#810202',GradientType=0 );
}
