/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 24, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/* line 47, ../sass/views-styles.scss */
.view {
  overflow: hidden;
}
/* line 49, ../sass/views-styles.scss */
.view .views-row {
  margin-bottom: 10px;
}

/* background corner not showing on firefox */
/* line 56, ../sass/views-styles.scss */
.corner .views-row {
  position: relative;
  width: 230px;
  float: left;
  overflow: hidden;
  background: #f2f2f2;
  background: -webkit-linear-gradient(225deg, #f2f2f2, #f2f2f2), -webkit-linear-gradient(45deg, #f2f2f2, #f2f2f2), -webkit-linear-gradient(135deg, transparent 20px, #f2f2f2 15px);
  background: -moz-linear-gradient(225deg, #f2f2f2, #f2f2f2), -moz-linear-gradient(45deg, #f2f2f2, #f2f2f2), -moz-linear-gradient(135deg, transparent 20px, #f2f2f2 15px);
  background: -o-linear-gradient(225deg, #f2f2f2, #f2f2f2), -o-linear-gradient(45deg, #f2f2f2, #f2f2f2), -o-linear-gradient(135deg, transparent 20px, #f2f2f2 15px);
  background-image: linear-gradient(225deg, #f2f2f2, #f2f2f2), linear-gradient(45deg, #f2f2f2, #f2f2f2), linear-gradient(135deg, #f2f2f2 95%, transparent 10%);
  border: none;
  -webkit-background-size: 55% 100%, 55% 55%, 55% 55%;
  -moz-background-size: 55% 100%, 55% 55%, 55% 55%;
  background-size: 55% 100%, 55% 55%, 55% 55%;
  background-position: 0 0, 100% 0, 100% 100%;
  background-repeat: no-repeat;
}

/* line 86, ../sass/views-styles.scss */
.corner .view-e-newsletter .views-row {
  width: 223px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #f1f1f1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f1f1f1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #f1f1f1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #f1f1f1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #f1f1f1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
  /* IE6-9 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
  /* IE6-9 */
}
/* line 97, ../sass/views-styles.scss */
.corner .view-e-newsletter .views-row:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 23px 23px 0 0;
  border-style: solid;
  border-color: transparent #fff transparent #fff;
  display: block;
  width: 0;
}

/* line 110, ../sass/views-styles.scss */
.corner.three-col {
  margin-top: -25px;
  overflow: visible;
}
/* line 115, ../sass/views-styles.scss */
.corner.three-col h2.block-title {
  color: #774928;
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  padding-bottom: 30px;
  font-size: 36px;
}
/* line 123, ../sass/views-styles.scss */
.corner.three-col .views-row {
  width: 297px;
  margin-right: 14px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
/* line 131, ../sass/views-styles.scss */
.corner.three-col .views-row .views-field-title,
.corner.three-col .views-row .views-field-body,
.corner.three-col .views-row .views-field-view-node {
  padding: 0 15px;
}
/* line 135, ../sass/views-styles.scss */
.corner.three-col .views-row .views-field-body {
  height: 190px;
}
/* line 137, ../sass/views-styles.scss */
.corner.three-col .views-row .views-field-body p {
  line-height: 18px;
}
/* line 142, ../sass/views-styles.scss */
.corner.three-col .views-row .views-field-view-node {
  padding-bottom: 20px;
}
/* line 147, ../sass/views-styles.scss */
.corner.three-col .views-row img {
  width: 290px;
  margin-left: 3px;
  box-shadow: 0 3px 4px #b4b4b4;
}
/* line 153, ../sass/views-styles.scss */
.corner.three-col .views-row .views-field-title {
  padding-top: 20px;
  font-size: 22.1px;
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  padding-bottom: 18px;
  line-height: 22px;
  height: 66px;
}
/* line 160, ../sass/views-styles.scss */
.corner.three-col .views-row .views-field-title a {
  font-weight: normal;
}
/* line 164, ../sass/views-styles.scss */
.corner.three-col .views-row .views-field-title span {
  color: #990000;
}

/* line 171, ../sass/views-styles.scss */
.corner.three-col .views-row {
  background: url(../images/three-col-bkg.png) no-repeat left bottom;
}
/* line 173, ../sass/views-styles.scss */
.corner.three-col .views-row .data-matrix {
  right: 3px;
}

/* line 178, ../sass/views-styles.scss */
.two-col {
  margin-bottom: 10px;
}
/* line 180, ../sass/views-styles.scss */
.two-col h2.block-title {
  color: #774928;
  font-weight: normal;
  line-height: 30px;
}
/* line 186, ../sass/views-styles.scss */
.two-col .view {
  position: relative;
  padding-top: 16px;
  padding-bottom: 15px;
  width: 440px;
  border-top: 1px solid #e1e1e1;
  float: left;
  padding-left: 15px;
  margin-top: -5px;
  position: relative;
  overflow: hidden;
  background: #f2f2f2;
  background: -webkit-linear-gradient(225deg, #f2f2f2, #f2f2f2), -webkit-linear-gradient(45deg, #f2f2f2, #f2f2f2), -webkit-linear-gradient(135deg, transparent 25px, #f2f2f2 10px);
  background: -moz-linear-gradient(225deg, #f2f2f2, #f2f2f2), -moz-linear-gradient(45deg, #f2f2f2, #f2f2f2), -moz-linear-gradient(135deg, transparent 25px, #f2f2f2 10px);
  background: -o-linear-gradient(225deg, #f2f2f2, #f2f2f2), -o-linear-gradient(45deg, #f2f2f2, #f2f2f2), -o-linear-gradient(135deg, transparent 25px, #f2f2f2 10px);
  background: linear-gradient(225deg, #f2f2f2, #f2f2f2), linear-gradient(45deg, #f2f2f2, #f2f2f2), linear-gradient(135deg, #f2f2f2 93%, transparent 10%);
  border: none;
  -webkit-background-size: 55% 100%, 55% 55%, 55% 55%;
  -moz-background-size: 55% 100%, 55% 55%, 55% 55%;
  background-size: 55% 100%, 55% 55%, 55% 55%;
  background-position: 0 0, 100% 0, 100% 100%;
  background-repeat: no-repeat;
}
/* line 222, ../sass/views-styles.scss */
.two-col .view .views-row {
  overflow: hidden;
}
/* line 226, ../sass/views-styles.scss */
.two-col .view .views-field-title .right {
  width: 360px;
  padding-left: 0;
}
/* line 229, ../sass/views-styles.scss */
.two-col .view .views-field-title .right .title {
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
}
/* line 234, ../sass/views-styles.scss */
.two-col .view .views-field-title .right a .link {
  color: #323232;
}

/* line 241, ../sass/views-styles.scss */
#content .two-col .view {
  height: 121px;
}

/* line 245, ../sass/views-styles.scss */
.two-col.left {
  padding-right: 10px;
}

/* line 249, ../sass/views-styles.scss */
.two-col .view {
  background: url(../images/two-col-bkg.png) no-repeat left top;
}

/* line 253, ../sass/views-styles.scss */
.corner .views-row-last {
  margin-right: 0!important;
}

/* line 258, ../sass/views-styles.scss */
.view-projects h3 {
  color: #990000;
}

/*
 * Accordion Views Custom Styles
 */
/* line 266, ../sass/views-styles.scss */
html.js fieldset.collapsible .fieldset-legend {
  padding-left: 0;
}

/* line 270, ../sass/views-styles.scss */
html.js fieldset.collapsed {
  height: auto;
  margin-bottom: 1px;
}

/* line 275, ../sass/views-styles.scss */
.ui-widget {
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 13px;
}

/* line 280, ../sass/views-styles.scss */
.view.view-taxonomy-term {
  overflow: visible;
}

/* line 285, ../sass/views-styles.scss */
.views-accordion p {
  font-size: 13px;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  line-height: 20px;
}
/* line 291, ../sass/views-styles.scss */
.views-accordion .views-row {
  margin-bottom: 0;
}
/* line 295, ../sass/views-styles.scss */
.views-accordion fieldset {
  border: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
/* line 302, ../sass/views-styles.scss */
.views-accordion legend {
  background-image: none;
  border: none;
  width: 100%;
  overflow: hidden;
  border-radius: 0;
  line-height: 1em;
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
}
/* line 312, ../sass/views-styles.scss */
.views-accordion legend a {
  color: #fff !important;
  padding-left: 1.3em;
  padding-top: 10px;
  display: block;
  padding-bottom: 10px;
  font-weight: normal;
}
/* line 319, ../sass/views-styles.scss */
.views-accordion legend a:hover {
  color: #fff!important;
}
/* line 322, ../sass/views-styles.scss */
.views-accordion legend a a {
  padding: 0;
}
/* line 326, ../sass/views-styles.scss */
.views-accordion legend:hover {
  background: #796245;
  /* Old browsers */
  background: -moz-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #796245), color-stop(40%, #7b664c), color-stop(100%, #624f38));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #796245 1%, #7b664c 40%, #624f38 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#796245', endColorstr='#624f38',GradientType=0 );
  /* IE6-8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#796245', endColorstr='#624f38',GradientType=0 );
  /* IE8+ */
}
/* line 340, ../sass/views-styles.scss */
.views-accordion .fieldset-legend span.summary {
  display: none;
}
/* line 344, ../sass/views-styles.scss */
.views-accordion fieldset.collapsed legend {
  background: #969696;
  /* Old browsers */
  background: -moz-linear-gradient(top, #969696 1%, #939393 40%, #797979 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #969696), color-stop(40%, #939393), color-stop(100%, #797979));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #969696 1%, #939393 40%, #797979 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #969696 1%, #939393 40%, #797979 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #969696 1%, #939393 40%, #797979 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #969696 1%, #939393 40%, #797979 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#969696', endColorstr='#797979',GradientType=0 );
  /* IE6-8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#969696', endColorstr='#797979',GradientType=0 );
  /* IE8+ */
}
/* line 356, ../sass/views-styles.scss */
.views-accordion fieldset legend {
  background: #796245;
  /* Old browsers */
  background: -moz-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #796245), color-stop(40%, #7b664c), color-stop(100%, #624f38));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #796245 1%, #7b664c 40%, #624f38 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#796245', endColorstr='#624f38',GradientType=0 );
  /* IE6-8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#796245', endColorstr='#624f38',GradientType=0 );
  /* IE8+ */
}
/* line 368, ../sass/views-styles.scss */
.views-accordion .ui-accordion-content {
  border: none;
  font-size: 13px;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
}
/* line 374, ../sass/views-styles.scss */
.views-accordion .fieldset-wrapper {
  padding: 20px 50px;
  width: 380px !important;
  overflow: visible;
}

/* line 382, ../sass/views-styles.scss */
fieldset.collapse-processed span.fieldset-legend {
  background: url(../images/expanded-accordion.png) no-repeat 5px 60% !important;
}

/* line 388, ../sass/views-styles.scss */
fieldset.collapsed span.fieldset-legend {
  background: url(../images/default-accordion.png) no-repeat 5px 50% !important;
  margin-left: 0;
}

/* line 396, ../sass/views-styles.scss */
.page-news-publications-e-newsletters .views-accordion h3 {
  background-image: none;
  border: none;
  width: 100%;
  overflow: hidden;
  border-radius: 0;
  line-height: 1em;
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  background: #796245;
  /* Old browsers */
  background: -moz-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #796245), color-stop(40%, #7b664c), color-stop(100%, #624f38));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #796245 1%, #7b664c 40%, #624f38 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#796245', endColorstr='#624f38',GradientType=0 );
  /* IE6-8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#796245', endColorstr='#624f38',GradientType=0 );
  /* IE8+ */
}
/* line 414, ../sass/views-styles.scss */
.page-news-publications-e-newsletters .views-accordion h3 a {
  color: #fff !important;
  padding-left: 1.3em;
  padding-top: 10px;
  display: block;
  padding-bottom: 10px;
  font-weight: normal;
}
/* line 421, ../sass/views-styles.scss */
.page-news-publications-e-newsletters .views-accordion h3 a:hover {
  color: #fff!important;
}
/* line 424, ../sass/views-styles.scss */
.page-news-publications-e-newsletters .views-accordion h3 a:first-child {
  padding: 0;
}
/* line 427, ../sass/views-styles.scss */
.page-news-publications-e-newsletters .views-accordion h3 a a {
  padding: 0;
}
/* line 431, ../sass/views-styles.scss */
.page-news-publications-e-newsletters .views-accordion h3:hover {
  background: #796245;
  /* Old browsers */
  background: -moz-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #796245), color-stop(40%, #7b664c), color-stop(100%, #624f38));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #796245 1%, #7b664c 40%, #624f38 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#796245', endColorstr='#624f38',GradientType=0 );
  /* IE6-8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#796245', endColorstr='#624f38',GradientType=0 );
  /* IE8+ */
}
/* line 445, ../sass/views-styles.scss */
.page-news-publications-e-newsletters .views-accordion h3.collapsed {
  background: #969696;
  /* Old browsers */
  background: -moz-linear-gradient(top, #969696 1%, #939393 40%, #797979 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #969696), color-stop(40%, #939393), color-stop(100%, #797979));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #969696 1%, #939393 40%, #797979 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #969696 1%, #939393 40%, #797979 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #969696 1%, #939393 40%, #797979 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #969696 1%, #939393 40%, #797979 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#969696', endColorstr='#797979',GradientType=0 );
  /* IE6-8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#969696', endColorstr='#797979',GradientType=0 );
  /* IE8+ */
}
/* line 455, ../sass/views-styles.scss */
.page-news-publications-e-newsletters .views-accordion h3.collapsed:hover {
  background: #796245;
  /* Old browsers */
  background: -moz-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #796245), color-stop(40%, #7b664c), color-stop(100%, #624f38));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #796245 1%, #7b664c 40%, #624f38 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#796245', endColorstr='#624f38',GradientType=0 );
  /* IE6-8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#796245', endColorstr='#624f38',GradientType=0 );
  /* IE8+ */
}
/* line 468, ../sass/views-styles.scss */
.page-news-publications-e-newsletters .views-accordion .view-grouping-content {
  padding: 20px 50px;
}
/* line 470, ../sass/views-styles.scss */
.page-news-publications-e-newsletters .views-accordion .view-grouping-content h4 {
  display: inline-block;
}

/*
 * Announcement Block Styles
 */
/* line 482, ../sass/views-styles.scss */
.front .view-announcement,
.view-announcement {
  position: relative;
}
/* line 484, ../sass/views-styles.scss */
.front .view-announcement .views-row,
.view-announcement .views-row {
  width: 880px;
  padding: 20px;
  background-repeat: repeat;
  margin-bottom: 0;
  background: #c45208;
  /* Old browsers */
  background: -moz-linear-gradient(left, #c45208 0%, #e3830c 75%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #c45208), color-stop(75%, #e3830c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #c45208 0%, #e3830c 75%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #c45208 0%, #e3830c 75%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #c45208 0%, #e3830c 75%);
  /* IE10+ */
  background: linear-gradient(to right, #c45208 0%, #e3830c 75%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c45208', endColorstr='#e3830c',GradientType=1 );
  /* IE6-9 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c45208', endColorstr='#e3830c',GradientType=1 );
  /* IE8+ */
  background-size: 100%;
}
/* line 501, ../sass/views-styles.scss */
.front .view-announcement .views-row:before,
.view-announcement .views-row:before {
  border-color: #E3830C #fcfeff #E3830C #fcfeff;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 23px 23px 0 0;
  border-style: solid;
  display: block;
  width: 0;
}
/* line 514, ../sass/views-styles.scss */
.front .view-announcement span,
.view-announcement span {
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  float: left;
  width: 44%;
  color: #fff;
  background-image: url(../images/alert.png);
  background-repeat: no-repeat;
  padding-left: 40px;
  line-height: 30px;
  min-height: 40px;
}
/* line 528, ../sass/views-styles.scss */
.front .view-announcement .views-field-body,
.view-announcement .views-field-body {
  margin-bottom: 0;
  float: right;
  width: 45%;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  color: #fff;
  padding-right: 50px;
}
/* line 535, ../sass/views-styles.scss */
.front .view-announcement .views-field-body p,
.view-announcement .views-field-body p {
  margin-bottom: 0;
}
/* line 540, ../sass/views-styles.scss */
.front .view-announcement .view-header,
.view-announcement .view-header {
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 1;
}
/* line 545, ../sass/views-styles.scss */
.front .view-announcement .view-header a,
.view-announcement .view-header a {
  background-image: url(../images/x-button.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  height: 32px;
  width: 32px;
}
/* line 552, ../sass/views-styles.scss */
.front .view-announcement .view-header a:hover,
.view-announcement .view-header a:hover {
  background-position: 0 -32px;
}

/* line 561, ../sass/views-styles.scss */
.page-programs-cgci-projects .view-projects p {
  margin-bottom: 5px;
}

/*
 * Views on News and Pubs Landing Page Custom Styles
 */
/* line 571, ../sass/views-styles.scss */
.landing-page.view-publications {
  width: 470px;
}
/* line 574, ../sass/views-styles.scss */
.landing-page.view-publications .right {
  width: 300px;
}

/* line 579, ../sass/views-styles.scss */
#block-views-e-newsletter-block-1.right {
  padding-left: 0;
}

/* line 583, ../sass/views-styles.scss */
#block-views-publications-block-2.left {
  padding-right: 0;
}

/* line 588, ../sass/views-styles.scss */
.landing-page.view-e-newsletter h2.block-title {
  font-size: 15.6px;
  font-weight: normal;
  color: #fff;
  padding: 7px 15px;
  background: #796245;
  background: -moz-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #796245), color-stop(40%, #7b664c), color-stop(100%, #624f38));
  background: -webkit-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  background: -o-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  background: -ms-linear-gradient(top, #796245 1%, #7b664c 40%, #624f38 100%);
  background: linear-gradient(to bottom, #796245 1%, #7b664c 40%, #624f38 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#796245', endColorstr='#624f38',GradientType=0 );
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#796245', endColorstr='#624f38',GradientType=0 );
  margin-bottom: 10px;
}
/* line 605, ../sass/views-styles.scss */
.landing-page.view-e-newsletter .views-row .field-content {
  padding: 5px 20px;
  margin-bottom: 0;
}
/* line 610, ../sass/views-styles.scss */
.landing-page.view-e-newsletter .views-row .views-field-field-issue-date .field-content {
  padding: 0;
}
/* line 614, ../sass/views-styles.scss */
.landing-page.view-e-newsletter p.field-content {
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
}
/* line 618, ../sass/views-styles.scss */
.landing-page.view-e-newsletter h3.field-content {
  color: #767676;
}
/* line 622, ../sass/views-styles.scss */
.landing-page.view-e-newsletter .views-field-title-1 a {
  color: #990000 !important;
}
/* line 626, ../sass/views-styles.scss */
.landing-page.view-e-newsletter .views-field-title p {
  color: #774928;
  font-size: 15px;
  font-family: "FranklinGothicFSMedCdRegular", "Arial Narrow", Arial, sans-serif;
}
/* line 632, ../sass/views-styles.scss */
.landing-page.view-e-newsletter .views-row {
  padding-bottom: 20px;
}

/*
 * Resources Archive View Styles
 */
/* line 641, ../sass/views-styles.scss */
.views-field-field-resource-link {
  padding-bottom: 10px;
}
/* line 643, ../sass/views-styles.scss */
.views-field-field-resource-link h3 {
  font-size: 18.2px;
}

/*
 * Last Updated View Styles
 */
/* line 652, ../sass/views-styles.scss */
.view-last-updated {
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 12px;
  color: #646464;
}

/*
 * Program tag with Abbreviated Title View Styles
 */
/* line 662, ../sass/views-styles.scss */
.view-program-abbreviation {
  float: left;
  clear: both;
  color: #7d7d7d;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px 5px 0;
}
/* line 669, ../sass/views-styles.scss */
.view-program-abbreviation a {
  width: 70px;
  display: inline-block;
  background-color: #767676;
  text-align: center;
  color: #fff !important;
  font-weight: bold;
  margin-right: 10px;
}
/* line 677, ../sass/views-styles.scss */
.view-program-abbreviation a:hover {
  color: #fff !important;
}
